.footer {
  background: #f7f7f7;
  padding-top: 3%;
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    justify-self: center;


    @mixin atMedium {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      grid-gap: 50px;
      justify-items: center;

    }
  }

  &__text-content {
    white-space: nowrap;
  }

  &__text-content h1 {
    font-size: 1.2rem;
    font-weight: 700;

  }

  &__text-content p {
    font-size: .9rem;
    display: none;

    @mixin atMedium {
     display: grid;
    }
  }

  .about-us {
    grid-column: 1/1;
    border-bottom: 1px solid black;
    justify-self: center;

    @mixin atMedium {
      grid-column: 2/3;
      border-bottom: none;
    }
  }

  .career-center {
    grid-column: 1/1;
    border-bottom: 1px solid black;
    justify-self: center;

    @mixin atMedium {
      grid-column: 3/4;
      border-bottom: none;
    }
  }

  .for-business {
  grid-column: 1/1;
  border-bottom: 1px solid black;
  justify-self: center;

    @mixin atMedium {
      grid-column: 4/5;
      border-bottom: none;
    }
  }

  .online-community {
    grid-column: 1/1;
    border-bottom: 1px solid black;
    justify-self: center;

    @mixin atMedium {
      grid-column: 5/6;
      border-bottom: none;
    }
  }

  .quick-links {
    grid-column: 1/1;
    border-bottom: 1px solid black;
    justify-self: center;

    @mixin atMedium {
      grid-column: 6/7;
      border-bottom: none;
    }
  }



  .social-icons i {
    padding-right: 20px;
    display: inline-block;
    position: relative;
    left: 15%;
    padding-top: 20px;

    @mixin atMedium {
      padding-right: 10px;
      display: inline-block;
      position: relative;
      left: 45.5%;
      padding-top: 20px;
    }


  }

  .copyright {
    padding-top: 10px;
    text-align: center;
  }
}
